@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;0,500;1,400 & display=swap');

body{
    background-color:#3C93D0 ;
    color: azure;
    text-align: center;
    padding: 20px;
}

h1{
    background-color:#06899b ;
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

a{
    background-color:#06899b ;
    border: 2px solid #000;
    color: aliceblue;
    text-align: center;
    padding: 12px;
    border-radius: 8px;

}

div{
    background-color:#06899b ;
    border: 2px solid #000;
    color: azure;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
}

h2{
    background-color:#06899b ;
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}